<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="data-pipeline-console" version="2.5">
    <display-name>Pipeline61 Server</display-name>
    <welcome-file-list>
        <welcome-file>/html/index</welcome-file>
        <welcome-file>/html/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>application-list-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.ApplicationController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>logical-flow-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.LogicalFlowController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>physical-flow-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.PhysicalFlowController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>execution-graph-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.ExecutionGraphController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>execution-lane-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.ExecutionTimeController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>node-list-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.ListNodesController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>node-monitor-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.NodeMonitorController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>node-cluster-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.NodeClusterController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>version-list-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.AllAppVersionsController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>dependency-trace-servlet</servlet-name>
        <servlet-class>org.nicta.wdy.hdm.console.controllers.DependencyTraceController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
<!--


-->
    <servlet-mapping>
        <servlet-name>application-list-servlet</servlet-name>
        <url-pattern>/service/listApplications/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logical-flow-servlet</servlet-name>
        <url-pattern>/service/logicalFlow/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>physical-flow-servlet</servlet-name>
        <url-pattern>/service/physicalFlow/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>execution-graph-servlet</servlet-name>
        <url-pattern>/service/executionGraph/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>execution-lane-servlet</servlet-name>
        <url-pattern>/service/executionLane/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>node-list-servlet</servlet-name>
        <url-pattern>/service/nodeList/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>node-monitor-servlet</servlet-name>
        <url-pattern>/service/nodeMonitor/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>node-cluster-servlet</servlet-name>
        <url-pattern>/service/nodeCluster/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>version-list-servlet</servlet-name>
        <url-pattern>/service/versionList/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dependency-trace-servlet</servlet-name>
        <url-pattern>/service/dependencyTrace/*</url-pattern>
    </servlet-mapping>
    <!--


    <servlet-mapping>
        <servlet-name>pipe-list-servlet</servlet-name>
        <url-pattern>/service/listPipes/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>pipeline-execution-servlet</servlet-name>
        <url-pattern>/service/execPipelines/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>execution-history-servlet</servlet-name>
        <url-pattern>/service/execHistory/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>pipe-history-servlet</servlet-name>
        <url-pattern>/service/pipeHistory/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>execution-dag-servlet</servlet-name>
        <url-pattern>/service/execDAG/*</url-pattern>
    </servlet-mapping>
    -->

<!--

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/console-controllers.xml</param-value>
        </init-param>
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
-->

</web-app>