<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>[%level] [%d{dd/MM/yyyy HH:mm:ss.SSS}] [%thread] [%logger{5}] -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.filePattern}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] [%d{dd/MM/yyyy HH:mm:ss.SSS}] [%thread] [%logger{5}] -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.filePattern}-ERROR.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] [%d{dd/MM/yyyy HH:mm:ss.SSS}] [%thread] [%logger{5}] -%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.nicta.wdy.hdm" level="info" additivity="false">
        <appender-ref ref="${log.appender}" />
    </logger>


    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default. -->
    <root level="INFO">
        <appender-ref ref="${log.appender}" />
    </root>

    <root level="WARN">
        <appender-ref ref="${log.appender}" />
        <appender-ref ref="${log.error.appender}" />
    </root>

</configuration>