.force.node {
  stroke: #ddc;
  stroke-width: 1.5px;
  cursor: pointer;
}


.link {
  stroke: #999;
  stroke-opacity: 1.6;
}


path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: left;
//  width: 400px;
//  height: 220px;
  padding: 2px;
  font: 12px sans-serif;
  background: Azure;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 10px 10px 5px #888888;
}